@import "tailwindcss";

#root, body{
    width: 100vw !important;
    max-width: 100vw !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
    padding: 0 !important;
}

.color-primary{
    color: #222831;
}
.color-secondary{
    color: #393E46;
}


.modalPosition {
    @apply fixed inset-0 z-10 w-screen overflow-y-auto;
}

.modalContainer {
 @apply flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0;
}

.dialogPanel {
    @apply relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg;
}
.btn_primary {
    @apply cursor-pointer w-fit px-2 bg-[#2e3237] hover:bg-[#393E46] text-white font-semibold py-2 rounded transition-all duration-200;
}

.btn_forms {
    @apply cursor-pointer w-full bg-[#FE5D26] hover:bg-[#FE5D49] text-white font-semibold py-2 rounded transition-all duration-200;
}