@import "tailwindcss";

#root, body{
    width: 100vw !important;
    max-width: 100vw !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
    padding: 0 !important;
}

.color-primary{
    color: #222831;
}
.color-secondary{
    color: #393E46;
}